/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");
@mixin flex($direction, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", Arial;
}
body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23520052' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23570057'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  height: 97.5rem;
  color: rgb(238, 231, 231);
}
svg {
  position: fixed;
}
main {
  height: 100%;
  @include flex(column, center, center);
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
  color: rgb(247, 240, 240);
}
ul {
  list-style: none;
  font-size: 1.8rem;
}
h1 {
  font-family: "Noto Sans JP";
  font-size: calc(2.5rem + 1vw);
}
h2 {
  font-size: calc(1.7rem + 1vw);
  margin-bottom: 3rem;
}
p,
h3,
h4,
h5,
h6,
ul {
  font-weight: normal;
  font-size: calc(0.9rem + 1vw);
}
h3 {
  font-weight: 500;
  margin-right: 0.5rem;
}
p {
  width: 90%;
  margin: auto;
  text-align: center;
}
label {
  display: block;
  width: 55vw;
  padding-top: 0.2rem;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
input {
  display: none;
}
section {
  @include flex(column, $align: center);
  width: 50vw;
  height: 4.8rem;
  box-shadow: 0px 1rem 5rem black;
  z-index: 1;
  overflow: hidden;
  div {
    opacity: 0;
    animation: content-fade-out 0.9s ease;
    pointer-events: none;
  }
  h1,
  h2 {
    animation: header-fade-out 0.9s ease;
  }
}
/* Selection Animations */
#radio-about:checked ~ #about-section {
  animation: fade-in 1s ease forwards;
  h1 {
    animation: header-fade-in 1s ease forwards;
  }
}
#radio-about:checked ~ #about-section div {
  animation: content-fade-in 1s ease forwards;
  pointer-events: all;
  a {
    text-decoration: underline;
  }
}
#radio-education:checked ~ #education-section {
  animation: fade-in 1s ease forwards;
  h2 {
    animation: header-fade-in 1s ease forwards;
  }
}
#radio-education:checked ~ #education-section div {
  animation: content-fade-in 1s ease forwards;
}
#radio-experience:checked ~ #experience-section {
  animation: fade-in 1s ease forwards;
  h2 {
    animation: header-fade-in 1s ease forwards;
  }
}
#radio-experience:checked ~ #experience-section div {
  animation: content-fade-in 1s ease forwards;
}
#radio-projects:checked ~ #projects-section {
  .projects-info {
    overflow-y: auto;
    overflow-x: hidden;
  }
  animation: fade-in 1s ease forwards;
  h2 {
    animation: header-fade-in 1s ease forwards;
  }
}
.projects-info::-webkit-scrollbar {
  width: 8px;
}
.projects-info::-webkit-scrollbar-track {
  background: #7c7c7c;
}
.projects-info::-webkit-scrollbar-thumb {
  background: #383838;
}
.projects-info::-webkit-scrollbar-thumb:hover {
  background: #474747;
}
#radio-projects:checked ~ #projects-section div {
  animation: content-fade-in 1s ease forwards;
  pointer-events: all;
  a {
    text-decoration: underline;
  }
}
#radio-skills:checked ~ #skills-section {
  animation: fade-in 1s ease forwards;
  h2 {
    animation: header-fade-in 1s ease forwards;
  }
}
#radio-skills:checked ~ #skills-section div {
  animation: content-fade-in 1s ease forwards;
}
#radio-involvement:checked ~ #involvement-section {
  animation: fade-in 1s ease forwards;
  h2 {
    animation: header-fade-in 1s ease forwards;
  }
}
#radio-involvement:checked ~ #involvement-section div {
  animation: content-fade-in 1s ease forwards;
}
/* Styling */
#about-section {
  background: #404040;
  animation: fade-out 0.9s ease;
}
#education-section {
  background: #383838;
  animation: fade-out 0.9s ease;
}
#experience-section {
  background: #181818;
  animation: fade-out 0.9s ease;
}
#projects-section {
  background: #181818;
  animation: fade-out 0.9s ease;
}
#skills-section {
  background: #383838;
  animation: fade-out 0.9s ease;
}
#involvement-section {
  background: #404040;
  animation: fade-out 0.9s ease;
}

/* Animations */
@keyframes fade-in {
  from {
  }
  to {
    height: 55rem;
    width: 55vw;
    z-index: 2;
  }
}
@keyframes fade-out {
  from {
    height: 55rem;
    width: 55vw;
    z-index: 2;
  }
  to {
    height: 4.8rem;
    width: 50vw;
  }
}
@keyframes content-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes content-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes header-fade-in {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}
@keyframes header-fade-out {
  from {
    margin-top: 10%;
  }
  to {
    margin-top: 0;
  }
}
@media screen and (min-width: 1100px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.7rem;
  }
  p,
  h3,
  h4,
  h5,
  h6,
  ul {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1024px) {
  section {
    width: 90vw;
  }
  @keyframes fade-in {
    from {
    }
    to {
      height: 55rem;
      width: 95vw;
      z-index: 2;
    }
  }
  @keyframes fade-out {
    from {
      height: 55rem;
      width: 95vw;
      z-index: 2;
    }
    to {
      height: 4.8rem;
      width: 90vw;
    }
  }
}
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  body {
    background: linear-gradient(rgb(0, 0, 0), transparent),
      url("../img/laptop-ipad-pro.jpg");
    background-repeat: no-repeat;
  }
}

/* About Section */

.contact-info {
  height: 100%;
  @include flex(column, center, space-evenly);
  li {
    margin: 1rem 0rem;
  }
}

// Education and Experience
.experience-info,
.education-info {
  width: 70%;
  li {
    list-style: square;
    margin: 1rem 0rem;
  }
  ul {
    padding-left: 2rem;
  }
  .work-position,
  .major-duration {
    @include flex(row, $justify: space-between);
  }
  @include flex(row, $justify: space-between);
}
.skills-info {
  min-height: 50%;
  min-width: 50%;
  @include flex(row, $justify: space-evenly);
  ul {
    min-height: 40%;
  }
  li {
    list-style: square;
    margin: 1rem;
  }
}
.involvement-info {
  width: 70%;
  li {
    font-size: 1.7rem;
    list-style: square;
    margin: 1rem 0rem;
  }
  div {
    @include flex(row, $justify: space-between);
  }
}
.projects-info {
  width: 75%;
  margin-bottom: 5rem;
  article {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  ul {
    padding-left: 2rem;
  }
  li {
    list-style: square;
  }
  .project-title {
    @include flex(row, $justify: space-between);
  }
}
